{% extends 'MsiCmfBundle:Page:layout.html.twig' %}

{% block css %}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('bundles/msicmf/vendor/chosen/chosen.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/msicmf/vendor/eternicode-bootstrap-datepicker/css/datepicker.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/msicmf/css/admin.css') }}">
{{ parent() }}
{% endblock %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="{{ asset('bundles/msicmf/vendor/chosen/chosen.jquery.min.js') }}"></script>
<script src="{{ asset('bundles/msicmf/vendor/eternicode-bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bundles/msicmf/vendor/eternicode-bootstrap-datepicker/js/locales/bootstrap-datepicker.fr.js') }}"></script>
<script src="{{ asset('bundles/msicmf/js/admin.js') }}"></script>
<script>
$("select:not(.classic)").chosen({placeholder_text_single: ' ', placeholder_text_multiple: ''});
$('.datepicker').datepicker({
    format: 'dd-mm-yyyy',
    autoclose: true,
    language: '{{ app.request.locale }}'
});
</script>
{{ parent() }}
{% endblock %}

{% block body %}
{#<div id="loader" class="hide">
    <div id="loader-inner">
        <p><img src="/bundles/msicmf/img/ajax-loader.gif" alt="0"></p>
        Please wait&hellip;
    </div>
</div>#}

<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a href="#" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <i class="icon-white icon-bar"></i>
                <i class="icon-white icon-bar"></i>
                <i class="icon-white icon-bar"></i>
            </a>
            <a class="brand" href="{{ path('msi_cmf_dashboard') }}">{{ block('brand') }}</a>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="nav-collapse collapse">
                    {{ knp_menu_render('MsiCmfBundle:MenuBuilder:adminMenu', {'allow_safe_labels': true, 'depth': 3, 'currentClass': 'active'}) }}
                    <p class="navbar-text pull-right">{{ app.user.username }} | <a href="{{ path('fos_user_security_logout') }}">{{ 'Log out'|trans }}</a></p>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{#{% if is_granted('ROLE_ADMIN') %}
<div class="container-fluid visible-desktop">
    <div class="row-fluid">
        <div class="span12">
            {% block breadcrumb %}
                {% include 'MsiCmfBundle:Default:breadcrumb.html.twig' with {'crumbs': admin is defined ? admin.buildBreadcrumb : [] } %}
            {% endblock breadcrumb %}
        </div>
    </div>
</div>
{% endif %}#}

<div class="container-fluid">
    {% set sidebar = block('sidebar') %}
    <div class="row-fluid">
        {% if sidebar %}
        <div class="span3">
            <div id="sidebar">
                {{ msi_block_render('admin_sidebar_top', page) }}
                {{ sidebar|raw }}
                {{ msi_block_render('admin_sidebar_bottom', page) }}
            </div>
        </div>
        {% endif %}
        <div class="{% if sidebar %}span9{% else %}span12{% endif %}">
            <div id="content">
                <div class="page-header">
                    {#<div class="alert-wrap">
                        <div class="alert alert-success hide">
                            <i class="icon-ok-sign"></i> <span></span>
                        </div>
                    </div>#}

                    {% if app.session.started %}
                        {% for flashMessage in app.session.flashbag.get('success') %}
                        {#<div class="alert-wrap">#}
                            <div class="alert alert-success fade in">
                                <i class="icon-ok-sign"></i> <span>{{ flashMessage }}</span>
                            </div>
                        {#</div>#}
                        {% endfor %}
                    {% endif %}

                    {% set actions = block('actions') %}
                    <div class="row-fluid">
                        <div class="span{% if actions %}6{% else %}12{% endif %}">
                            <h2>{{ block('title')|raw }}{{ block('title_suffix') }}</h2>
                        </div>

                        {% if actions %}
                        <div class="span6">
                            <div class="pull-right btn-toolbar">
                                {{ block('actions') }}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                {% block breadcrumb %}
                    {% include 'MsiCmfBundle:Default:breadcrumb.html.twig' with {'crumbs': admin is defined ? admin.buildBreadcrumb : [] } %}
                {% endblock breadcrumb %}

                {{ msi_block_render('content_top', page) }}
                {{ block('page_content') }}
                {{ msi_block_render('content_bottom', page) }}

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
