{% if breadcrumb.all|length %}
    <ol class="breadcrumb">
        {% for crumb in breadcrumb.all %}
            {% set attr = crumb.options.attr %}
            {% if crumb.url == null %}{% set attr = attr|merge({class: 'active'}) %}{% endif %}
            <li{% for attrname, attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>{% if crumb.url %}<a href="{{ crumb.url }}">{{ crumb.label|truncate(90)|raw }}</a>{% else %}{{ crumb.label|truncate(90)|raw }}{% endif %}</li>
        {% endfor %}
    </ol>
{% endif %}
