<ul class="breadcrumb">
<li>
    <a href="{{ path('msi_admin_dashboard') }}"><i class="icon-home"></i> {{ 'Home'|trans }}</a>
</li>
{% for crumb in crumbs %}
    <li{% if crumb.class is defined %} class="{{ crumb.class }}"{% endif %}>
        {% if crumb.path %}
            <a href="{{ crumb.path }}">{{ crumb.label|truncate(60)|raw }}</a>
        {% else %}
            {{ crumb.label|truncate(60)|raw }}
        {% endif %}
    </li>
{% endfor %}
</ul>
