{% extends 'MsiAdminBundle:Page:layout.html.twig' %}

{% block css %}
<link href="{{ asset('bundles/msiadmin/vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/msiadmin/vendor/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ asset('bundles/msiadmin/vendor/chosen/chosen.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/msiadmin/vendor/eternicode-bootstrap-datepicker/css/datepicker.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/msiadmin/css/base.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/msiadmin/css/admin.css') }}">
{{ parent() }}

<!--[if lt IE 9]>
    <script src="{{ asset('bundles/msiadmin/js/respond.min.js') }}"></script>
<![endif]-->
{% endblock %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<script src="{{ asset('bundles/msiadmin/vendor/hinclude/hinclude.js') }}"></script>
<script src="{{ asset('bundles/msiadmin/vendor/bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/msiadmin/vendor/chosen/chosen.jquery.min.js') }}"></script>
<script src="{{ asset('bundles/msiadmin/vendor/eternicode-bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bundles/msiadmin/vendor/eternicode-bootstrap-datepicker/js/locales/bootstrap-datepicker.fr.js') }}"></script>

<script src="{{ asset('bundles/msiadmin/js/admin.js') }}"></script>
<script>
$("select:not(.notchosen)").chosen({placeholder_text_single: ' ', placeholder_text_multiple: ''});
$('.datepicker').datepicker({
    format: 'dd-mm-yyyy',
    autoclose: true,
    language: '{{ app.request.locale }}'
});
</script>
{{ parent() }}
<script>
(function($) {
    "use strict";
    $('.confirmable').on('click', function() {
        if (!window.confirm("{{ 'confirmable'|trans }}")) {
            return false;
        }
    });
})(jQuery);
</script>
{% endblock %}

{% block body %}
<div class="navbar navbar-static-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('msi_admin_dashboard') }}">{{ block('brand') }}</a>
        </div>
        <p class="navbar-text navbar-right">{{ app.user.username }} | <a href="{{ path('fos_user_security_logout') }}">{{ 'sign_out'|trans }}</a></p>
        {#<form class="navbar-form navbar-right" style="padding-right: 0;" method=GET action="{{ path('msi_admin_search_index') }}">
            <div class="form-group">
                <input type="text" class="form-control" name=q>
            </div>
            <button type="submit" class="btn btn-default"><span class="icon-search icon-large"></span></button>
        </form>#}
        {{ knp_menu_render('MsiAdminBundle:MenuBuilder:adminMenu', {'allow_safe_labels': true, 'depth': 3, 'currentClass': 'active'}) }}
    </div>
</div>

<div class="container">
    {% block breadcrumb %}
        {% if admin is defined %}
            {% include 'MsiAdminBundle::breadcrumb.html.twig' with {'breadcrumb': admin.breadcrumb} %}
        {% endif %}
    {% endblock breadcrumb %}

    <h2>{{ block('title')|raw }}{{ block('title_suffix') }}</h2>

    <div class="row">
        {% set sidebar = block('sidebar') %}
        {% if sidebar %}
        <div class="col-md-3">
            <div id="sidebar">
            {{ msi_block_render('admin_sidebar_top', page) }}
            {{ sidebar|raw }}
            {{ msi_block_render('admin_sidebar_bottom', page) }}
            <div class="clearfix"></div>
            </div>
        </div>
        {% endif %}

        <div class="col-md-{% if sidebar %}9{% else %}12{% endif %}">
            <div id="content">
            {% if app.session.started %}
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success fade in">
                        <i class="icon-large icon-ok-sign"></i> <span>{{ flashMessage }}</span>
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger fade in">
                        <i class="icon-large icon-exclamation-sign"></i> <span>{{ flashMessage }}</span>
                    </div>
                {% endfor %}
            {% endif %}

            {% set actions = block('actions') %}
            {% if actions %}
            <div class="row">
                <div class="col-md-12">
                    {% include 'MsiAdminBundle::working_locale_btn.html.twig' %}
                    <div class="btn-toolbar">
                        {{ actions|raw }}
                    </div>
                </div>
            </div>
            <hr>
            {% endif %}

            {{ msi_block_render('content_top', page) }}
            {{ block('page_content') }}
            {{ msi_block_render('content_bottom', page) }}
            <div class="clearfix"></div>
        </div>
        </div>
    </div>
</div>
{% endblock %}
