{% extends 'MsiAdminBundle:Page:layout.html.twig' %}

{% block css %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('bundles/msiadmin/vendor/chosen/chosen.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/msiadmin/vendor/eternicode-bootstrap-datepicker/css/datepicker.css') }}">

<link rel="stylesheet" href="{{ asset('bundles/msiadmin/css/admin.css') }}">
{{ parent() }}
{% endblock %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
<script src="{{ asset('bundles/msiadmin/vendor/hinclude/hinclude.js') }}"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{{ asset('bundles/msiadmin/vendor/chosen/chosen.jquery.min.js') }}"></script>
<script src="{{ asset('bundles/msiadmin/vendor/eternicode-bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bundles/msiadmin/vendor/eternicode-bootstrap-datepicker/js/locales/bootstrap-datepicker.fr.js') }}"></script>

<script src="{{ asset('bundles/msiadmin/js/admin.js') }}"></script>
<script>
$("select:not(.notchosen)").chosen({placeholder_text_single: ' ', placeholder_text_multiple: ''});
$('.datepicker').datepicker({
    format: 'dd-mm-yyyy',
    autoclose: true,
    language: '{{ app.request.locale }}'
});
</script>
{{ parent() }}
{% endblock %}

{% block body %}
{#<div id="loader" class="hide">
    <div id="loader-inner">
        <p><img src="/bundles/msiadmin/img/ajax-loader.gif" alt="0"></p>
        Please wait&hellip;
    </div>
</div>#}

<div class="navbar navbar-static-top navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('msi_admin_dashboard') }}">{{ block('brand') }}</a>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></li>
            <li><a title="{{ 'Log out'|trans }}" href="{{ path('fos_user_security_logout') }}"><i class="icon-signout icon-large"></i></a></li>
        </ul>
        {% include 'MsiAdminBundle::working_locale_btn.html.twig' %}
        {{ knp_menu_render('MsiAdminBundle:MenuBuilder:adminMenu', {'allow_safe_labels': true, 'depth': 3, 'currentClass': 'active'}) }}
        {% endif %}
    </div>
</div>

<div class="container">
    {% set sidebar = block('sidebar') %}
    <div class="row">
        {% if sidebar %}
        <div class="col-md-3">
            <div id="sidebar">
                {{ msi_block_render('admin_sidebar_top', page) }}
                {{ sidebar|raw }}
                {{ msi_block_render('admin_sidebar_bottom', page) }}
                <div class="clearfix"></div>
            </div>
        </div>
        {% endif %}
        <div class="{% if sidebar %}col-md-9{% else %}col-md-12{% endif %}">
            {% if app.session.started %}
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success fade in">
                        <i class="icon-large icon-ok-sign"></i> <span>{{ flashMessage }}</span>
                    </div>
                {% endfor %}
            {% endif %}

            {% set actions = block('actions') %}
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-12">
                    <h2>{{ block('title')|raw }}{{ block('title_suffix') }}</h2>
                </div>
            </div>

            {% if actions %}
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-12">
                    {{ actions|raw }}
                </div>
            </div>
            {% endif %}

            {% block breadcrumb %}
                {% if admin is defined %}
                    {% include 'MsiAdminBundle::breadcrumb.html.twig' with {'breadcrumb': admin.breadcrumb} %}
                {% endif %}
            {% endblock breadcrumb %}

            {{ msi_block_render('content_top', page) }}
            {{ block('page_content') }}
            {{ msi_block_render('content_bottom', page) }}
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}
