{% if site.locales|length > 1 %}
<div class="pull-right">
        current language: {{ working_locale|trans }}
        {% for l in site.locales if l != working_locale %}
            <a class="btn btn-primary" href="{{ path('msi_admin_working_locale', {'locale': l}) }}">Switch to {{ l|trans }}</a>
        {% endfor %}
</div>
{#<div class="btn-group pull-right">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="icon-flag icon-large"></span> {{ working_locale|trans }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        {% for l in site.locales if l != working_locale %}
            <li><a href="{{ path('msi_admin_working_locale', {'locale': l}) }}"><span class="icon-flag icon-large"></span> {{ l|trans }}</a></li>
        {% endfor %}
    </ul>
</div>#}
{% endif %}
