{% extends 'MsiAdminBundle::layout.html.twig' %}

{% block title %}<i class="icon-pencil"></i> {{ admin.label(1) }} <small>{{ admin.object }}</small>{% endblock title %}

{% block actions %}
<button class="btn btn-primary msi_admin_save"><i class="icon-save icon-large"></i> {{ 'save'|trans }}</button>
<button class="btn btn-default msi_admin_save_quit"><i class="icon-save icon-large"></i> {{ 'save_quit'|trans }}</button>
{% endblock actions %}

{% block content %}
<div class="well">
    <form novalidate class="form-crud" action="{{ admin.genUrl('edit', {'id': admin.object.id}) }}" method="POST" {{ form_enctype(form) }}>
            {% include admin.getOption('form_template') %}
    </form>
</div>
{% endblock %}

{% block sidebar %}{% include admin.getOption('sidebar_template') %}{% endblock %}

{% block js %}
{{ parent() }}
{% include admin.container.getParameter('msi_admin.tiny_mce') %}
<script src="{{ asset('bundles/msiadmin/js/save.js') }}"></script>

{% if admin.getOption('form_js_template') %}
{% include admin.getOption('form_js_template') %}
{% endif %}
{% endblock js %}
