{% extends 'MsiAdminBundle::layout.html.twig' %}

{% block title %}
<i class="icon-folder-open-alt"></i> {{ admin.getLabel(2) }}
{% endblock title %}

{% block sidebar %}
{% if filterForm is defined %}
    <form novalidate method="GET" action="{{ admin.genUrl('index') }}">
        {% form_theme filterForm 'MsiAdminBundle:Form:form.html.twig' %}
        {% for item in filterForm %}
            <div class="form-group">
                {{ form_widget(item) }}
            </div>
        {% endfor %}
        <div class="btn-group">
            <button type="submit" class="btn btn-default"><i class="icon-filter icon-large"></i></button>
            <a class="btn btn-default" href="{{ admin.genUrl('index', {'parentId': app.request.query.get('parentId')}, false) }}"><i class="icon-large icon-remove"></i></a>
        </div>
    </form>
{% endif %}
{% if admin.getOption('uploadify') %}
    <a class="btn" href="javascript:$('#file_upload').uploadify('upload','*')">GO</a>
    <input type="file" name="file_upload" id="file_upload" />
{% endif %}
{% endblock sidebar %}

{% block actions %}
{% if admin.isGranted('create') %}
    <a href="{{ admin.genUrl('new') }}" class="btn btn-success"><i class="icon-large icon-plus-sign"></i> {{ 'Add'|trans }} {{ admin.getLabel(1) }}</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-7">
        <form id="limitForm" class="form-inline" novalidate method="POST" action="{{ path('msi_admin_limit') }}">
            <div class="form-group">
                {{ 'view'|trans }}
                <select name="limit" class="notchosen form-control" style="width: auto;">
                    <option {% if app.session.get('limit') == 10 %}selected=selected{% endif %} value="10">10</option>
                    <option {% if app.session.get('limit', 25) == 25 %}selected=selected{% endif %} value="25">25</option>
                    <option {% if app.session.get('limit') == 50 %}selected=selected{% endif %} value="50">50</option>
                    <option {% if app.session.get('limit') == 100 %}selected=selected{% endif %} value="100">100</option>
                </select>
                {{ 'results_per_page'|trans }}
            </div>
        </form>
    </div>
    <div class="col-md-5">
        {% if admin.getOption('search_fields')|length %}
        <form novalidate method="GET" action="{{ admin.genUrl('index') }}">
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    {% if admin.hasParent() %}
                        <input type="hidden" value="{{ app.request.query.get('parentId') }}" name="parentId">
                    {% endif %}
                    <div class="input-group">
                        <input class="form-control" value="{{ app.request.query.get('q') }}" name="q" type="text">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="icon-search icon-large"></i></button>
                            <a class="btn btn-default" href="{{ admin.genUrl('index', {'parentId': app.request.query.get('parentId')}, false) }}"><i class="icon-remove icon-large"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>

{% include 'MsiAdminBundle:Grid:default.html.twig' with {'grid': admin.getGrid()} %}

<div class="row">
    <div class="col-md-7">
        {{ pager.from|number_format }} {{ 'to'|trans }} {{ pager.to|number_format }} {{ 'of'|trans }} {{ pager.count|number_format }} {{ 'result'|transchoice(pager.count) }}
    </div>
    <div class="col-md-5">
        {% include 'MsiAdminBundle:Pager:pager.html.twig' %}
    </div>
</div>
{% endblock %}

{% block js %}
{{ parent() }}
{% if admin.hasTrait('Sortable') %}
<script>
(function($) {
    "use strict";
    // Return a helper with preserved width of cells
    var fixHelper = function(e, ui) {
        ui.children().each(function() {
            var $this = $(this);
            $this.width($this.width());
        });
        return ui;
    };

    // fill empty tr created by jquery ui

    var nbColumn = $('table.table').children().first().children().children().length;
    var placeholderFiller = '';

    for (var i = 0; i < nbColumn; i++) {
        placeholderFiller += '<td>&nbsp;</td>';
    };

    $("table.table-sortable tbody").sortable({
        helper: fixHelper,
        handle: $('td'),
        cancel: 'a,button',
        containment: $('table'),
        placeholder: "ui-state-highlight",
        forcePlaceholderSize: true,
        start: function (event, ui) {
            ui.placeholder.html(placeholderFiller);
        },
    }).disableSelection();
})(jQuery);
(function($) {
    "use strict";
    var $table = $('table.table-sortable');

    $table.on('sortstop', function(e, ui) {
        var next = null,
            prev = null;

        if (typeof $(ui.item).next('tr').attr('id') !== 'undefined') {
            next = $(ui.item).next('tr').attr('id').substr(2);
        }

        if (typeof $(ui.item).prev('tr').attr('id') !== 'undefined') {
            prev = $(ui.item).prev('tr').attr('id').substr(2);
        }

        $.ajax("{{ admin.genUrl('sort') }}", {
            data: {
                'current': $(ui.item).attr('id').substr(2),
                'next': next,
                'prev': prev
            },
        });
    });
})(jQuery);
</script>
{% endif %}
{% if admin.getOption('uploadify') %}
<script src="{{ asset('bundles/msiadmin/vendor/uploadify/jquery.uploadify.min.js') }}"></script>
<script>
$(function() {
    $('#file_upload').uploadify({
        swf: "{{ asset('bundles/msiadmin/vendor/uploadify/uploadify.swf') }}",
        uploader: "{{ admin.genUrl('new') }}",
        auto: false,
        buttonText: 'CHOOSE FILE',
        fileObjName: 'file',
        buttonClass: 'btn',
        width: 119,
        height: 30,
        onQueueComplete: function() {
            window.location = "{{ admin.genUrl('index') }}";
        }
    });
});
</script>
{% endif %}
{% endblock js %}

{% block css %}
{% if admin.getOption('uploadify') %}
<link rel="stylesheet" href="{{ asset('bundles/msiadmin/vendor/uploadify/uploadify.css') }}" />
{% endif %}
{{ parent() }}
{% endblock css %}
