{% extends 'MsiCmfBundle::layout.html.twig' %}

{% block title %}<i class="icon-plus"></i> {{ admin.getLabel() }}{% endblock title %}

{% block actions %}
<button class="btn btn-primary msi_cmf_save"><i class="icon-white icon-ok"></i> {{ 'save'|trans }}</button>
<button class="btn msi_cmf_save_quit"><i class="icon-ok"></i> {{ 'save_quit'|trans }}</button>
<button class="btn btn-success msi_cmf_save_add"><i class="icon-white icon-plus"></i> {{ 'save_add'|trans }}</button>
{% endblock actions %}

{% block sidebar %}
{% if admin.getOption('sidebar_nav_template') %}
    <ul class="nav nav-list">
        {% if admin.getOption('sidebar_nav_template') %}
            {% include admin.getOption('sidebar_nav_template') %}
        {% endif %}
    </ul>
{% endif %}
{% if admin.getOption('sidebar_template') %}
    {% include admin.getOption('sidebar_template') %}
{% endif %}
{% endblock sidebar %}

{% block content %}
    <form novalidate class="form-crud form-horizontal" action="{{ admin.genUrl('new') }}" method="POST" {{ form_enctype(form) }}>
        {% include admin.getOption('form_template') %}
    </form>
{% endblock %}

{% block js %}
{{ parent() }}
{% include admin.container.getParameter('msi_cmf.tiny_mce') %}
<script src="{{ asset('bundles/msicmf/js/save.js') }}"></script>
{% if admin.getOption('form_js_template') %}
{% include admin.getOption('form_js_template') %}
{% endif %}
{% endblock js %}
