<ul class="breadcrumb">
<li>
    <a href="{{ path('msi_cmf_dashboard') }}"><i class="icon-home"></i> {{ 'Home'|trans }}</a>
    {% if crumbs|length %}<span class="divider">&rsaquo;</span>{% endif %}
</li>
{% for crumb in crumbs %}
    <li{% if crumb.class is defined %} class="{{ crumb.class }}"{% endif %}>
        {% if loop.index != 1 %}
            {% if crumb.class is not defined or (crumb.class is defined and crumb.class != 'pull-right') %}
                <span class="divider">&rsaquo;</span>
            {% endif %}
        {% endif %}
        {% if crumb.path %}
            <a href="{{ crumb.path }}">{{ crumb.label|truncate(60)|raw }}</a>
        {% else %}
            {{ crumb.label|truncate(60)|raw }}
        {% endif %}
    </li>
{% endfor %}
</ul>
