{% form_theme form 'MsiAdminBundle:Form:form.html.twig' %}
<div class="tab-content">
    {% if admin.object.id %}
    <div class="tab-pane fade active in" id="tab1">
        {% if admin.container.get(admin.object.type).name == 'text' %}
        {% for translation in form.translations %}
            {{ form_widget(translation.settings.body) }}
        {% endfor %}
        {% elseif admin.container.get(admin.object.type).name == 'action' %}
            {{ form_row(form.settings.action) }}
            {{ form_row(form.settings.query) }}
        {% elseif admin.container.get(admin.object.type).name == 'template' %}
            {{ form_row(form.settings.template) }}
        {% elseif admin.container.get(admin.object.type).name == 'menu' %}
            {{ form_row(form.settings.menu) }}
            {{ form_row(form.settings.class) }}
        {% endif %}
    </div>
    {% endif %}

    <div class="tab-pane fade{% if admin.object.id == null %} active in{% endif %}" id="tab2">
        {% for translation in form.translations %}
            {{ form_row(translation.published) }}
        {% endfor %}
        {{ form_row(form.name) }}
        {{ form_row(form.type) }}
        {{ form_row(form.slot) }}
        {% if admin.object.id %}
            {{ form_row(form.pages) }}
        {% endif %}
    </div>

    {% if app.user.isSuperAdmin %}
    <div class="tab-pane fade" id="tab3">
        {{ form_row(form.operators) }}
    </div>
    {% endif %}
</div>

{{ form_rest(form) }}
