<div class="table-responsive">
    <table style="border-bottom: 1px solid #ddd;" id="grid" class="{% if admin.hasTrait('Sortable') %}table-sortable {% endif %}table table-bordered">
        {# Head #}
        <thead>
            <tr>
                {% for column in grid.columns %}
                    <th>{{ column.get('label')|capitalize|trans }}</th>
            {% endfor %}
                <th></th>
            </tr>
        </thead>
        {# Body #}
        <tbody>
        {% for row in grid.rows %}
            <tr id="tr{{ row.id }}" data-row="{{ loop.index }}">
                {% for column in grid.columns %}
                    <td {% for attrname,attrvalue in column.options.attr %}{{attrname}}="{{attrvalue}}" {% endfor %}id="td{{ loop.index~row.id }}">
                        {% include 'MsiAdminBundle:Column:'~column.type~'.html.twig' with {'i': loop.index, 'column': column.resolveRow(row, working_locale)} %}
                    </td>
                {% endfor %}
                <td>
                    <div style="white-space: nowrap;">
                        {% include admin.options.grid_action_template %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
