<div style="white-space: nowrap;">
    {% for child in grid.admin.children if grid.admin.hasChildren() and column.options.children %}
        <a title="{{ child.label(2) }}" href="{{ child.genUrl('index', {'parentId': row.id}, false) }}" class="btn btn-xs btn-default"><i class="icon-large icon-folder-close-alt"></i> {{ child.label(2) }}</a>
    {% endfor %}

    {% for key, val in column.options.actions %}
        <a class="btn btn-xs btn-default" href="{% if val != '#' %}{{ path(val, {'id': row.id, 'parentId': app.request.query.get('parentId')}) }}{% else %}{{ val }}{% endif %}">{{ key|raw }}</a>
    {% endfor %}

    {% if grid.admin.isGranted('update') and column.options.edit %}
        {% if grid.admin.isTranslatable and row.hasTranslation(working_locale) == false %}
            <a title="{{ 'Add'|trans }}" href="{{ grid.admin.genUrl('edit', {'id': row.id}) }}" class="btn btn-xs btn-danger"><i class="icon-large icon-pencil"></i> {{ 'edit'|trans }}</a>
        {% else %}
            <a title="{{ 'Edit'|trans }}" href="{{ grid.admin.genUrl('edit', {'id': row.id}) }}" class="btn btn-xs btn-default"><i class="icon-large icon-pencil"></i> {{ 'edit'|trans }}</a>
        {% endif %}
    {% endif %}

    {% if grid.admin.isGranted('delete') and column.options.delete %}
        <a title="{{ 'Delete'|trans }}" class="btn btn-xs btn-default{% if column.options.ajax_delete %} msi_admin_delete{% endif %}" href="{{ grid.admin.genUrl('delete', {'id': row.id}) }}"><i class="icon-large icon-trash"></i> {{ 'delete'|trans }}</a>
    {% endif %}
</div>
