{% if grid.admin.isTranslatable and row.hasTranslation(working_locale) == false %}
    n/a
{% else %}
    {% if column.options.toggle %}
        <a href="{{ grid.admin.genUrl('toggle', {'id': column.object.id, 'field': column.name}) }}" class="msi_admin_admin_change btn btn-xs{% if column.value %} {{ column.options.btn_true }}{% else %} {{ column.options.btn_false }}{% endif %}" data-icon-true="{{ column.options.icon_true }}" data-icon-false="{{ column.options.icon_false }}" data-btn-true="{{ column.options.btn_true }}" data-btn-false="{{ column.options.btn_false }}">
    {% else %}
        <span class="label label-{% if column.value %}success{% else %}default{% endif %}">
    {% endif %}
        {% if column.value %}
            <span class="{{ column.options.icon_true }} icon-large"></span>
        {% else %}
            <span class="{{ column.options.icon_false }} icon-large"></span>
        {% endif %}
    {% if column.options.toggle %}
        </a>
    {% else %}
        </span>
    {% endif %}
{% endif %}
