{% if column.options.toggle %}
<a href="{{ admin.genUrl('toggle', {'id': column.object.id, 'field': column.name}) }}" class="msi_admin_admin_change btn btn-sm{% if column.value %} {{ column.options.btn_true }}{% else %} {{ column.options.btn_false }}{% endif %}" data-icon-true="{{ column.options.icon_true }}" data-icon-false="{{ column.options.icon_false }}" data-btn-true="{{ column.options.btn_true }}" data-btn-false="{{ column.options.btn_false }}">
{% endif %}
    {% if column.value %}
        <i class="{{ column.options.icon_true }} icon-large"></i>
    {% else %}
        <i class="{{ column.options.icon_false }} icon-large"></i>
    {% endif %}
{% if column.options.toggle %}
</a>
{% endif %}
