{% if column.options.collection == false %}
    {% if column.value %}
        <a target="_blank" href="{% if column.options.translation %}{{ row.translation.pathname(column.name) }}{% else %}{{ row.pathname(column.name) }}{% endif %}">
            <img style="height: 26px;" class="pull-left" src="{% if column.options.translation %}{{ row.translation.pathname(column.name) }}{% else %}{{ row.pathname(column.name) }}{% endif %}" alt="0">
        </a>
    {% else %}
        <span class="icon-large icon-question"></span>
    {% endif %}
{% else %}
    {% if column.value.count %}
    <a target="_blank" href="{{ column.value.first.pathname(column.name) }}">
        <img style="height: 26px;" class="pull-left" src="{{ column.value.first.pathname(column.name) }}" alt="0">
    </a>
    {% endif %}
{% endif %}
