{% form_theme form 'MsiAdminBundle:Form:form.html.twig' %}
<div class="tab-content">
    <div class="tab-pane fade active in" id="tab1">
        {{ form_row(form.parent) }}
        {% for translation in form.translations %}
            {#{{ form_row(translation.published) }}#}
            {{ form_row(translation.name) }}
            {{ form_row(translation.route) }}
        {% endfor %}
        {{ form_row(form.targetBlank) }}
    </div>

    <div class="tab-pane fade" id="tab2">
        {{ form_row(form.page) }}
    </div>

    {% if app.user.isSuperAdmin %}
    <div class="tab-pane fade" id="tab3">
        {{ form_row(form.operators) }}
    </div>
    {% endif %}
</div>
{{ form_rest(form) }}
