{% form_theme form 'MsiAdminBundle:Form:form.html.twig' %}

<div class="tab-content">
    <div class="tab-pane fade active in" id="tab1">
        {{ form_row(form.host) }}
        {{ form_row(form.isDefault) }}
        {% for translation in form.translations %}
            {{ form_row(translation.brand) }}
            {{ form_row(translation.offlineMessage) }}
        {% endfor %}
    </div>

    <div class="tab-pane fade" id="tab2">
        <fieldset>
            {{ form_row(form.locale) }}
            {{ form_row(form.locales) }}
        </fieldset>
    </div>

    <div class="tab-pane fade" id="tab3">
        {% for translation in form.translations %}
            {{ form_row(translation.metaKeywords) }}
            {{ form_row(translation.metaDescription) }}
        {% endfor %}
    </div>
</div>

{{ form_rest(form) }}
